{% extends 'base.html.twig' %}

{% block title %}Modifier mot de passe - Good Morning{% endblock %}

{% block content %}
<div class="col-10">

<h1>Modifier mot de passe</h1>
 <ul>
    <li><a href="/compte">Retour</a></li>
</ul>
<hr>
{% if notification %}
<div class="alert alert-info"> {{ notification}}  </div>
    
{% endif %}

{{form(form)}}
 </div>
 <hr>

{% endblock %}
